@model IEnumerable<liberacao_credito.Models.Financiamento>

@{
    ViewData["Title"] = "Lista de Financiamentos";
}

<h1>Lista de Financiamentos</h1>

<p>
    <a style="font-size: 24px;" asp-action="Create">Gerar Liberação de Crédito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimentoUltimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimentoUltimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCredito.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
